<div class="container">
  <h1>Add a new task</h1>

  <%= render 'form', task: @task %>

  <hr class="solid">
  <%= link_to tasks_path do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back to list
  <% end %>


</div>

